<a href="https://colab.research.google.com/github/shaggyweb3/Masters_in_data_science/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
"""
Q 1. In the below elements, which of them are values or an expression?

Values:

'hello'
-87.8
6

Expressions:

*
/


"""

"\nQ 1. In the below elements, which of them are values or an expression?\n\nValues:\n\n'hello'\n-87.8\n6\n\nExpressions:\n\n*\n/\n\n\n"

In [7]:
"""
Q 2. What is the difference between string and variable?
      A string is a data type that represents textual data, enclosed within single quotes ('') or double quotes ("").
      It can contain letters, numbers, symbols, and spaces. Example: 'hello', "world".

      A variable, on the other hand, is a placeholder for storing data. It has a name and can hold different values.
      Example: x = 5, where x is a variable holding the value 5.

"""

'\nQ 2. What is the difference between string and variable?\n      A string is a data type that represents textual data, enclosed within single quotes (\'\') or double quotes ("").\n      It can contain letters, numbers, symbols, and spaces. Example: \'hello\', "world".\n\n      A variable, on the other hand, is a placeholder for storing data. It has a name and can hold different values. \n      Example: x = 5, where x is a variable holding the value 5.\n\n'

In [8]:
"""
Q 3.Describe three different data types.
    Three different data types are:

    Integer (int): Represents whole numbers, positive or negative, without decimals. Example: 5, -10.
    Float (float): Represents real numbers with decimals. Example: 3.14, -0.5.
    String (str): Represents textual data enclosed within single or double quotes. Example: 'hello', "world".

"""

'\nQ 3.Describe three different data types.\n    Three different data types are:\n\n    Integer (int): Represents whole numbers, positive or negative, without decimals. Example: 5, -10.\n    Float (float): Represents real numbers with decimals. Example: 3.14, -0.5.\n    String (str): Represents textual data enclosed within single or double quotes. Example: \'hello\', "world".\n\n'

In [11]:
"""
Q 4. What is an expression made up of? What do all expressions do?
      An expression is made up of operators, operands, and sometimes function calls, variables, and literals.
      Expressions evaluate to a value. They perform some computation and produce a result.

Q 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
      An expression evaluates to a value, whereas a statement performs an action.
      In the assignment statement spam = 10, the expression is '10', which evaluates to the value 10, and the statement assigns this value to the variable spam.

Q 6. After running the following code, what does the variable bacon contain?
"""
bacon = 22
bacon + 1

print (bacon)

22

In [14]:
"""
What should the values of the following two terms be?
"""
first= 'spam' + 'spamspam'
second = 'spam' * 3
print (first)
print (second)

spamspamspam
spamspamspam

In [15]:
"""
Q 8. Why is eggs a valid variable name while 100 is invalid?
      Variable names cannot start with a digit, so '100' is invalid as a variable name.
      However, 'eggs' follows the rules for variable names, as it starts with a letter and can contain letters, digits, and underscores.

Q 9. What three functions can be used to get the integer, floating-point number, or string version of a value?
      Integer: int()
      Floating-point number: float()
      String: str()

"""

"\nQ 8. Why is eggs a valid variable name while 100 is invalid?\n      Variable names cannot start with a digit, so '100' is invalid as a variable name.\n      However, 'eggs' follows the rules for variable names, as it starts with a letter and can contain letters, digits, and underscores.\n\nq 9. What three functions can be used to get the integer, floating-point number, or string version of a value?\n      Integer: int()\n      Floating-point number: float()\n      String: str()\n\n"

In [17]:
# Q 10. Why does this expression cause an error? How can you fix it?

'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [18]:
# This expression causes an error because you cannot concatenate a string with an integer directly. You need to convert the integer '99' to a string using the str() function:


'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'